<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="name" class="col-md-4 control-label label-start">name<span class="required-input"></span></label>
            <div class="col-md-8">
                <input class="form-control" id="name" name="Name" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="namezh" class="col-md-4 control-label">surname<span class="required-input"></span></label>
            <div class="col-md-8">
                <input class="form-control" id="namezh" name="NameZh" type="text" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="mobile" class="col-md-4 control-label label-start">mobile number<span class="required-input"></span></label>
            <div class="col-md-8">
                <input class="form-control" name="Mobile" id="mobile" type="text" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="email" class="col-md-4 control-label label-start">mailbox<span class="required-input"></span></label>
            <div class="col-md-8">
                <input class="form-control" name="email" id="Email" type="text" />
            </div>
        </div>
    </div>
</div>
<br>
